/* Estilos para la tabla de inventario */
.tabla-inventario {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-inventario th, .tabla-inventario td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.tabla-inventario th {
    background-color: #333;
    color: #fff;
}

/* Estilo para el botón de regreso */
a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

a:hover {
    background-color: #555;
}
