/* styles.css */


/* Estilos para los mensajes de éxito o error */
.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}


body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.card-title {
    font-size: 24px;
    margin: 10px 0;
}

.btn-return {
    margin-top: 20px;
    padding: 10px 20px;
}

#countdown {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    display: none;
}

#progress-container {
    margin-top: 20px;
    display: none;
}

.progress {
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    transition: width 0.5s ease-in-out;
}

