/* Estilo de la barra de navegación */
.navbar {
    background-color: #FF5733; /* Color naranja */
    color: white; /* Color de texto */
}

/* Estilo de los enlaces de la barra de navegación */
.navbar a {
    color: white;
    text-decoration: none;
}

/* Estilo para los elementos de la barra de navegación en hover */
.navbar a:hover {
    background-color: #D62105; /* Color rojo */
}

/* Estilo de los contenedores de ingresos */
.ingresos {
    background-color: #F9F9F9; /* Color gris claro */
    border: 1px solid #DDDDDD; /* Borde gris */
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo de los productos destacados y agregados */
.producto {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .producto {
        height: 90%;
    }
}


/* Estilo del pie de página */
footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: white; /* Color de texto del pie de página */
    text-align: center;
    padding: 10px;
}